# Dependencias (Lo más importante)
node_modules/

# Archivos de Sistema (Basura de Mac/Windows)
.DS_Store
Thumbs.db

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración local de VS Code
.vscode/

# NO IGNORAR estos archivos (Importante para que la web funcione)
# Queremos que GitHub guarde el output.css porque es el que lee el navegador
!css/output.css